<%= render "shared/header" %>

<div class="form_content">
  <%= form_with model: [@visit.client,@visit], class: "form_with", local: true do |f| %>

    <div class="form_header">
      <div class="content_text">訪問情報新編集</div>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="label">
        <%= f.label :title %>
      </div>
      <%= f.text_field :title, placeholder:"タイトル", class: "field" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :date %>
      </div>
      <div class="date"><%= f.datetime_select :date, {start_year: Time.now.year - 1, minute_step: 5, datetime_separator: "-", time_separator: "："}, class: "field" %></div>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :content %>
      </div>
      <%= f.text_area :content, placeholder:"作業内容", class: "field content" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :status_id %>
      </div>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, class: "field") %>
    </div>

    <div class="button_box">
      <%= f.submit "登録", class: "submit" %>
      <%= link_to "キャンセル", client_visit_path, class: "cancel" %>
      <%= link_to "削除", client_visit_path(@visit.id), data: { confirm: "本当に削除しますか？" }, class: "delete", method: :delete %>
    </div>
  <% end %>
</div>