<h1>訪問情報詳細ページ</h1>
タイトル：<%= @visit.title %><br>
訪問日：<%= @visit.date %><br>
訪問内容：<%= @visit.content %><br>
状況：<%= Status.find(@visit.status_id).name %><br>

<%= link_to "訪問情報編集", edit_client_visit_path %>
<br><%=link_to 'もどる', client_path(params[:client_id]) %>