<h1>問合せ情報編集ページ</h1>
<%= form_with model: [@call.client,@call], local: true do |f| %>
<br>
<%= f.text_field :title, placeholder:"タイトル" %>
<br>
<%= f.datetime_select :date, {} %>
<br>
<%= f.text_area :content, placeholder:"問合せ内容" %>
<br>
<%= f.collection_select(:status_id, Status.all, :id, :name, {}) %>
<br>

<%= f.submit "訪問情報変更" %><%=link_to 'もどる', :back %>
<% end %>

<%= button_to "削除", client_call_path(@call.id), data: { confirm: "本当に削除しますか?" }, method: :delete %>