<h1>問合せ情報作製ページ</h1>
<%= form_with model: @call, url: client_calls_path, local: true do |f| %>
<br>
<%= f.text_field :title, placeholder:"タイトル" %>
<br>
<%= f.text_field :date, placeholder:"受信日" %>
<br>
<%= f.text_area :content, placeholder:"問合せ内容" %>
<br>
<%= f.collection_select(:status_id, Status.all, :id, :name, {}) %>
<br>

<%= f.submit "問合せ情報登録" %><%=link_to 'もどる', :back %>
<% end %>