<% if admin_signed_in? || user_signed_in? %>
  <header>
    <div class="head" >
      <%= image_tag "logo_white.png", class: "logo" %>
      <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>

    <%#<% else %>
      <%#<h2><%= "#{current_user.name}ログイン中" </h2>%>
      <%#<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%#<%= link_to "ユーザー編集" , edit_user_id_registration_path(current_user.id) %>
      <%#<br><%= link_to "顧客情報登録", new_client_path %>
    <%#<% end %>
  </header>
<% end %>