<div class="comment_content">  
  <div class="comment_box">
    ＜コメント一覧＞
    <div class="area">
      <% @visit_comments.each do |comment| %>
        <div class="comment">
          <%= "#{comment.user.name}：#{comment.comment}" %>
        </div>
      <% end %>
    </div>

    <div class="comment_form">
      <%= form_with model: @visit_comment,url: "/clients/#{@visit.client_id}/visits/#{@visit.id}/visit_comments", class: "form_box", local: true do |form| %>
        <%= form.text_area :comment, placeholder: "コメントする", class: "textform", rows: "2" %>
        <%= form.submit "送信",class: "comment_btn" %>
      <% end %>
    </div>

    <%= link_to 'もどる', client_path(params[:client_id]), class: "back_btn" %>
    
  </div>
</div>