<div class="form_content">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="form_header">
      <%= image_tag "logo_blue.png", class: "logo" %>
      <div class="content_text">管理者ログイン</div>
    </div>
    
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :email %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :password %>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "field" %>
    </div>

    <div class="button_box">
      <%= f.submit "ログイン", class: "submit" %>
      <%= link_to "キャンセル", root_path, class: "cancel" %>
    </div>
  <% end %>

</div>