<%= render "shared/header" %>

<div class="form_content">
  <%= form_for(resource, as: resource_name, url: user_id_registration_path(resource.id), html: { method: :put }) do |f| %>

    <div class="form_header">
      <div class="content_text">ユーザー情報編集</div>
    </div>

    <%= render 'shared/error_messages', model: f.object %> 

    <div class="form">
      <div class="label">
        <%= f.label :name %>
      </div>
      <%= f.text_field :name, class: "field" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :email %>
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :password %><span class="indispensable">変更しない場合は空欄</span>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "field" %>
    </div>

    <div class="form">
      <div class="label">
        <%= f.label :password_confirmation %>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field" %>
    </div>

    <% if user_signed_in?%>
      <div class="form">
        <div class="label">
          <%= f.label :current_password %><span class="indispensable">必須</span>
        </div>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "field" %>
      </div>
    <% end %>

    <div class="button_box">
      <%= f.submit "保存", class: "submit" %>
      <%= link_to "キャンセル", root_path, class: "cancel" %>
      <% if admin_signed_in?%>
        <%= link_to "削除", registration_path(resource_name), data: { confirm: "このアカウントの保有する全てのデータが削除されます。本当に削除しますか？" }, class: "delete", method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
